<h1>Confirme seu convite</h1>

<%= form_with url: kaleo_invite_confirm_path(token: params[:token]), method: :post do |form| %>
  <div>
    <%= form.label :password, 'Senha' %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation, 'Confirmação de senha' %><br>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit 'Confirmar convite' %>
  </div>
<% end %>
